<!DOCTYPE html>
<html>
    <head>
        <title>Exercício 2</title>
    </head>
    <body>
        <h2><a href="/categorias">Categorias</a></h2>
        <h2><a href="/produtos">Produtos</a></h2>
    </body>
</html>